.item {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 18px;

    border: 2px solid #EBEBEB;

    .item__content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        font: {
            family: 'Roboto', sans-serif;
        }
    }

    .item__actions {
        display: flex;
        flex-direction: row;

        svg {
            color: #EBEBEB;

            &:hover {
                color: #1C1C1C;
            }

            cursor: pointer;
        }
    }

    &:hover {
        border: 2px solid #1C1C1C;
    }

    transition: border 0.2s linear;

    cursor: default;
}
