.item {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    border: 2px solid #EBEBEB;

    padding: 18px;

    .item__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .item__actions {
        display: flex;
        flex-direction: row;

        svg {
            color: #EBEBEB;

            &:hover {
                color: #1C1C1C;
            }

            cursor: pointer;
        }
    }

    .done {
        color: #EBEBEB;
        text-decoration: line-through;
    }

    &:hover {
        border: 2px solid #1C1C1C;
    }

    transition: all 0.3s linear;
    user-select: none;
    cursor: default;    
}
