.item {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    gap: 24px;

    border: 2px solid #EBEBEB;

    color: #1C1C1C;

    padding: 18px;

    .item__content {
        display: flex;
        flex-direction: column;
        gap: 12px;

        word-wrap: break-word;
        overflow: hidden;
    }

    .item__actions {
        display: flex;
        flex-direction: row;

        gap: 18px;

        svg {
            color: #EBEBEB;

            &:hover {
                color: #1C1C1C;
            }

            transition: all 0.3s linear;
            cursor: pointer;
        }
    }

    &:hover {
        border: 2px solid #1C1C1C;
    }

    transition: all 0.3s linear;
    user-select: none;
    cursor: default;    
}

.done {
    color: #EBEBEB;
    text-decoration: line-through;

    &:hover {
        color: #1C1C1C;
    }
}
